
*.data-00000-of-00001
*.index
training_1/checkpoint
training_2/checkpoint
training_3/checkpoint
training_4/checkpoint
training_5/checkpoint
training_6/checkpoint
training_7/checkpoint
*.zip
*.pb
*.pgn
*.const
*.c
*.pyc
*.pyc
*.bin
*.h
*.lprof
env
