3to2==1.1.1
autopep8==1.5.4
backcall==0.2.0
cachetools==4.2.0
cloudpickle==1.6.0
colorama==0.4.3
decorator==4.4.2
future==0.18.2
gomill==0.8.3
gym==0.17.3
h5py==3.1.0
intel-openmp==2019.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
keras==2.4.3
keras-rl==0.4.2
line-profiler==3.0.2
mcts==1.0.4
mkl==2019.0
numpy==1.19.3
parso==0.7.1
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.7
pycodestyle==2.6.0
pyglet==1.5.0
Pygments==2.7.1
pyodbc==4.0.30
python-chess==1.1.0
python-dateutil==2.8.1
pywin32==228
pyyaml==5.4
pyzmq==19.0.2
scipy==1.6.0rc1
six==1.15.0
toml==0.10.1
torch==1.7.1+cu110
torchaudio==0.7.2
torchvision==0.8.2+cu110
tornado==6.0.4
train==0.0.5
traitlets==5.0.5
typing-extensions==3.7.4.3
wcwidth==0.2.5
